<div class="container">
    <div class="page-header">
        <h3>Vagtskema</h3>
    </div>
    
    <img src="/images/vagtposter.png" class="img-responsive" >
    <table class="table table-striped" style="margin-top: 2em;">
        <tr>
            <th>Vagtpost</th>
            <th>15.30-16.30. Pause 17.10-18.00</th>
            <th>18.00 til 19.50</th>
        </tr>
        <tr>
            <td>1</td>
            <td>0.A</td>
            <td>4.A</td>
        </tr>
        <tr>
            <td>2</td>
            <td>0.B</td>
            <td>4.B</td>
        </tr>
        <tr>
            <td>3</td>
            <td>0.C</td>
            <td>4.C</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1.A</td>
            <td>5.B</td>
        </tr>
        <tr>
            <td>5</td>
            <td>1.B</td>
            <td>5.B</td>
        </tr>
        <tr>
            <td>6</td>
            <td>1.C</td>
            <td>5.C</td>
        </tr>
        <tr>
            <td>7</td>
            <td>2.A</td>
            <td>5.D</td>
        </tr>
        <tr>
            <td>8</td>
            <td>2.C</td>
            <td>6.A</td>
        </tr>
        <tr>
            <td>9</td>
            <td>3.B</td>
            <td>6.C</td>
        </tr>
        <tr>
            <td>10 - Indgang med 2 vagter</td>
            <td>Sinne 6A og Anni Sten 15.30 Janne 7b og Max P 17.00</td>
            <td>Stine Rønhede og Brian W 17.45 Heidi W og Monika S 19.00</td>
        </tr>
        <tr>
            <td>11</td>
            <td>3.C</td>
            <td>7.B</td>
        </tr>
            
    </table>
</div>