<div class="backgroundimagecontainer">
    <!--<div class="jumbotron" style="opacity: 0.8;">-->
        <div class="container">
            <h1>Café Pyramide Sæbekasseløb</h1>
            <p class="text-danger" ng-show="showcountdown">Starter om <span countdown='' date='May 27, 2016 15:30:00'></span></p>
            <h4 style="margin-top: 3em;">I år vil vi i skolebestyrelsen gøre det til en stor havefest!</h4>
            <h2>Fredag den 27. maj fra kl. 15.30 til ca. kl. 20.00</h2>
            <ul style="margin-top: 4em;">
                <li class="h4">Ankers Tivoli ankommer med pølsevogn, Churros, slikvogn og drikkevare/kaffe/the m. m.</li>
                <li class="h4">Hoppeborg til alle børn</li>
                <li class="h4">Brand og redning kommer med skum</li>
                <li class="h4">Ulven Bille fra Bilka deler ulveposer ud</li>
                <li class="h4">Live musik på plænen</li>
                <li class="h4">Café Pyramiden kommer med salatbar og kebab</li>
            </ul>
        </div>
    <!--</div>-->
    <div class="container">

        <hr>
        <div class="page-header">
            <h2>Dagsprogram</h2>
            <table class="table table-striped">
                <caption>Dagsprogrammet er med cirkatider</caption>
                <thead>
                    <tr>
                        <th>Ca. tid</th>
                        <th>Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>15.30</td>
                        <td>Velkomst</td>
                    </tr>
                    <tr>
                        <td>15.40 til 16.15</td>
                        <td>0. og 1. klasser kører løb, med finale kl. ca. 19.10</td>
                    </tr>
                    <tr>
                        <td>16.30 til 17.10</td>
                        <td>Pause</td>
                    </tr>
                    <tr>
                        <td>16.15 til 17.30</td>
                        <td>2. og 3. klasser kører løb</td>
                    </tr>
                    <tr>
                        <td>17.30 til 18.10</td>
                        <td>4. og 5. klasser kører løb</td>
                    </tr>
                    <tr>
                        <td>18.10 til 18.30</td>
                        <td>6. og 7. klasser kører løb</td>
                    </tr>
                    <tr>
                        <td>18.30 til 19.50</td>
                        <td>Semifinaler og finaleløb</td>
                    </tr>
                    <tr>
                        <td>19.50 til 20.00</td>
                        <td>Præmieoverrækkelser</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Løbsprogram</h2>
                <p>Se løbsprogrammet og følg løbet online!</p>
                <p><a class="btn btn-default" href="#/program" role="button">Vis løbsprogram &raquo;</a></p>
            </div>
            <div class="col-sm-4">
                <h2>Regler</h2>
                <p>Se reglerne for løbet</p>
                <p><a class="btn btn-default" href="#/rules" role="button">Vis reglerne &raquo;</a></p>
            </div>
            <div class="col-sm-4" ng-show="false">
                <h2>Priser</h2>
                <p>Se priser på madvarene på pladsen</p>
                <p><a class="btn btn-default" href="#/prices" role="button">Vis priser &raquo;</a></p>
            </div>
        </div>

    </div>
</div>