<div class="container">
    <div class="page-header">
        <h3>Priser på mad</h3>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h4>Sprød salat</h4>
        </div>
        <div class="col-sm-2">
            <p class="text-success h4" style="margin-top:0.5em;">25,-</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <h4>Lækker sandwich <small>med det fyld du ønsker</small></h4>
        </div>
        <div class="col-sm-2">
            <p class="text-success h4">30,-</p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-3">
            <h4>Kebap</h4>
        </div>
        <div class="col-sm-2">
            <p class="text-success h4">30,-</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <h4>Fransk</h4>
        </div>
        <div class="col-sm-2">
            <p class="text-success h4">25,-</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <h4>Drikkevarer</h4>
        </div>
        <div class="col-sm-2">
            <p class="text-success h4">15,-</p>
        </div>
    </div>
    <p class="h4 text-success" style="margin-top:2em;">Vi tager kort, mobile pay og kontant</p>

</div>