<div class="container">
    <div class="page-header">
        <h3>Løbsprogram  <small>Følg løbet online</small></h3>
    </div>
    <div class="alert alert-warning">Dette er en TEST af løbsprogrammet.</div>
    <div ng-hide="loading">
        <!--         <div class="table-responsive"> -->
        <table class="table " style="table-layout:fixed;">
            <thead>
                <tr>
                    <th class="text-center hidden-xs">Planlagt starttid*</th>
                    <th class="text-center hidden-xs">Løbnr</th>
                    <th class="text-center hidden-lg hidden-md hidden-sm">Løbnr<br>Planlagt starttid*</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Bane 1</th>
                    <th class="text-center">Bane 2</th>
                    <th class="text-center">Bane 3</th>
                    <th class="text-center hidden-xs">Starttid</th>
                    <th class="text-center hidden-xs">Sluttid</th>
                    <th class="text-center hidden-xs">Note</th>
                </tr>
            </thead>
            <tr ng-repeat="race in event.currentjson.races" ng-class="race | raceStatusClass">
                <td class="text-center hidden-xs">
                    {{race.scheduledstarttime| date :'shortTime'}}
                </td>
                <td class="text-center hidden-xs">
                    {{race.no}}
                </td>
                <td class="text-center hidden-lg hidden-md hidden-sm">
                    {{race.no}}<br>{{race.scheduledstarttime| date :'shortTime'}}
                </td>
                <td class="text-center hidden-xs" style="height: 40px;">
                    <img ng-hide="raceActive(race) && blinkerVisible" ng-src="/images/{{race| raceStatusImg}}" alt="{{race| raceStatus}}" style="height: 18px;" />
                    <div ng-show="raceActive(race) && blinkerVisible">Køres nu!</div>
                </td>
                <td class="text-center hidden-lg hidden-md hidden-sm" style="height: 20px;">
                    <img ng-hide="raceActive(race) && blinkerVisible" ng-src="/images/{{race| raceStatusImg}}" alt="{{race| raceStatus}}" style="height: 15px;" />
                </td>
                <td class="text-center">
                    {{race.lane1raceno == null ? race.lane1team.name : (race.lane1raceno | winnerTeam)}}
                    <div ng-show="(race.lane1team | placement:race.lane1raceno:race) === 1"><b>{{race.lane1team| placement:race.lane1raceno:race}}. plads</b></div>
                    <div ng-show="(race.lane1team | placement:race.lane1raceno:race) > 1">{{race.lane1team| placement:race.lane1raceno:race}}. plads</div>
                </td>
                <td class="text-center">
                    {{race.lane2raceno == null ? race.lane2team.name : (race.lane2raceno | winnerTeam)}}
                    <div ng-show="(race.lane2team | placement:race.lane2raceno:race) === 1"><b>{{race.lane2team| placement:race.lane2raceno:race}}. plads</b></div>
                    <div ng-show="(race.lane2team | placement:race.lane2raceno:race) > 1">{{race.lane2team| placement:race.lane2raceno:race}}. plads</div>
                </td>
                <td class="text-center">
                    {{race.lane3raceno == null ? race.lane3team.name : (race.lane3raceno | winnerTeam)}}
                    <div ng-show="(race.lane3team | placement:race.lane3raceno:race) === 1"><b>{{race.lane3team| placement:race.lane3raceno:race}}. plads</b></div>
                    <div ng-show="(race.lane3team | placement:race.lane3raceno:race) > 1">{{race.lane3team| placement:race.lane3raceno:race}}. plads</div>
                </td>
                <td class="text-center hidden-xs">
                    {{race.actualstarttime| date :'shortTime'}}
                </td>
                <td class="text-center hidden-xs">
                    {{race.actualendtime| date :'shortTime'}}
                </td>
                <td class="text-center hidden-xs">
                    {{race.note}}
                </td>
            </tr>

        </table>
        <p>* Løb bliver startet op til 10 min før tid</p>

    </div>
    <!--    </div> -->
    <div class="container" ng-show="loading">Indlæser data...</div>
</div>