<div class="container">
    <div class="page-header">
        <h2>Regler</h2>
    </div>
    <h3>Regler for bygning af egen sæbekasse</h3>
    <ul>
        <li>
            Max. 14 tommer hjul - luft eller fast! - Max. 200 cm lang og 95 cm bredde.
        </li>
        <li>
            Skubbestangen må max. være 125 cm bredde og skal være monteret over kørerens hoved ”sikkerhedsbøjle”
        </li>
        <li>
            Sæbekassen må kun drives af skubberne - ingen form for motor er tilladt.
        </li>
        <li>
            Skal være af træ eller finér m.m. som helhed.
        </li>
    </ul>

    <div class="alert alert-warning" style="margin-top: 1em;">
        <p>
            Det er et krav at køretøjet gennemgås og godkendes under et "sikkerhedskontrol" som finder sted på skolen ved hallen torsdag den 26. maj. kl. 15.00 til 18.00.
        </p>
        <p>
            Hvis det ikke er mulig at komme torsdag, så skriver i en besked til  <a href="mailto:naesager@privat.dk">naesager@privat.dk</a> så finder vi en løsning.
        </p>

    </div>

    <h3 style="margin-top: 2em;">Løbsregler</h3>
    <ul>
        <li>
            Alle bærer cykelhjelm som minimum
        </li>
        <li>
            Antal skubbere 2 eller 3 samt 1 kører - max 1 bil pr. klasse
        </li>
        <li>
            For 0.-1. klasse må der gerne være en voksen på holdet som skubber
        </li>
        <li>
            Løbet indeholder et holdskifte undervejs af alle skubbere samt kører – der må gerne skiftes skubbere undervejs
        </li>
        <li>
            Alle tvivlsspørgsmål på dagen og før løbet - afgøres suverænt af løbsledelsen
        </li>

    </ul>

    <div class="alert alert-info" style="margin-top: 1em;">
        Spørgsmål skrives til <a href="mailto:naesager@privat.dk">naesager@privat.dk</a>
    </div>

</div>